@use "../abstract/variables" as var;
@use "../abstract/mixins" as mx;
.box {
  background-color: #eee;
  padding: 88px 0 100px;
  text-align: center;
}

.box > div
{
  background-color: #72BDA3;
  box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
}

.box-title 
{
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  color: var.$primary-color;
  padding-top: 88px;
}

.box-cards 
{
  @include mx.flex;
  justify-content: space-around;
}

.box-card
{
  width: 254px;
  img 
  {
    margin-bottom: 40px;
  }
  h4 
  {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.36px;
    color: var.$primary-color;
    margin-bottom: 12px;
  }
  p 
  {
    font-size: 15px;
    line-height: 24px;
  }
}

.box_button
{
  padding: 13px 25px;
  margin-top: 87px;
  margin-bottom: 101px;
  background: #3D5675;
  border-radius: 44px;
  color: #fff;
}